
add.html
--------------------

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD-PRODUCT</title>

    <style>
        .main-header{
    width: 70%;
    height: 10%;
    background-color:green;
    
        }
    </style>
    



</head>
<body>
    <header>
        <nav>
            <ul>

                <li   class="main-header"><a href="/">shop</a></li> //this willrefer to shop.js because "/"
               <li  class="main-header"><a href="">Add-product</a></li>//addlink will not work not redirted
               <li  class="main-header"><a href="/">vcontact</a></li>//this willrefer to shop.js because "/"
            


                
            </ul>
        </nav>
    </header>

<main>
   
<input type="text" name="data">

<button type="button">submit</button>

</main>




</body>
</html>